<!DOCTYPE html>
<html>
  <head>
    <title>ICSE Test Data</title>
    <!-- CSS -->
      <!-- Strucutal bits -->
        <!-- <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" /> -->
      <!-- Theme (editable) -->
        <!-- <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" /> -->
        <!-- <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-light-theme.css" /> -->
        <link type="text/css" rel="stylesheet" href="https://syntagmatic.github.io/parallel-coordinates/d3.parcoords.css" />
      <!-- Custom (editable) -->
        <!-- <link type="text/css" rel="stylesheet" href="./static/css/crossfilterExample.css" /> -->

    <!-- Required JS libraries -->
      <!-- <script crossorigin type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
      <!-- <script crossorigin type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script> -->
      <!-- <script crossorigin type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script> -->
      <!-- <script type="text/javascript" src="./static/js/parcoords/d3_v4.parcoords.js"></script> -->
      <script crossorigin type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
      <script src="https://d3js.org/d3-queue.v3.min.js"></script>
      <script crossorigin type="text/javascript" src="https://syntagmatic.github.io/parallel-coordinates/d3.parcoords.js"></script>
      <script crossorigin type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sylvester/0.1.3/sylvester.min.js"></script>

    <!-- Experimental libraries to try -->
          <!-- <script crossorigin type="text/javascript" src="http://crossfilter.github.io/crossfilter/crossfilter.v1.min.js"></script>   -->

  </head>
  <body>
  </body>
  <script type="text/javascript" src="./static/js/dashboard.js"></script>
</html>
