<!DOCTYPE html>
<html>
  <head>
    <title>Quetzal</title>
    <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="./static/css/d3.parcoords.css" />
        <link type="text/css" rel="stylesheet" href="./static/css/dashboard.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Required JS libraries -->
      <script crossorigin type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
      <script src="https://d3js.org/d3-queue.v3.min.js"></script>
      <script crossorigin type="text/javascript" src="./static/js/d3.parcoords.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
      <!-- <script crossorigin type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sylvester/0.1.3/sylvester.min.js"></script> -->
  </head>
  <body>
      <div id="button_bar"></div>
  </body>
  <script type="text/javascript" src="./static/js/dashboard.js"></script>
</html>
